.root {
    -fx-background-image: url('Background.png');
    -fx-background-size: cover;
    -fx-background-color:  #87CEEB;
}

.styled-button {
    -fx-border-radius: 10px;
    -fx-background-radius: 13px;
    -fx-border-color: white;
    -fx-border-width: 4px;
    -fx-border-insets: -2px;
    -fx-background-color: linear-gradient(to bottom, #FF6A00, #FF0000);
    -fx-text-fill: white;
    -fx-font-size: 16px;
    -fx-padding: 10px 20px;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.4), 10, 0, 0, 0);
    -fx-cursor: hand;
}

.custom-button {
    -fx-min-width: 130px;
    -fx-min-height: 50px;
    -fx-max-width: 130px;
    -fx-max-height: 50px;
    -fx-border-radius: 30px;
    -fx-background-radius: 30px;
    -fx-background-color: #87CEEB;
    -fx-text-alignment: center;
    -fx-alignment: center;
    -fx-font-size: 14px;
    -fx-text-fill: white;
    -fx-cursor: hand;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.4), 5, 0, 0, 0);
    -fx-border-color: white;
    -fx-border-width: 3px;
    -fx-padding: 10px 20px;
}

.custom-button:hover  {
    -fx-background-color: linear-gradient(#87CEEB, #FFFFFF);
    -fx-text-fill: black;
    -fx-font-weight: bold;
    -fx-font-size: 14px;
}

